In [ ]:
def get_conn_postgres():
    import psycopg2
    username = "hkcloud"
    password = "hkcloud1"
    host = "localhost"
    port = 5432
    database = "palette"
    dsn = f'{host}:{port}/{database}'
    encoding = 'UTF-8'

    try:
        connection = psycopg2.connect(host=host, database=database, user=username, password=password)
    except Exception as ex:
        print('Could not connect to database:', ex)
        return ex

    print("SUCCESS: Connecting database")
    return connection

In [ ]:
conn = get_conn_postgres()

In [ ]:
def get_df(sql):
    conn = get_conn_postgres()
    import pandas as pd
    with conn.cursor() as cursor:
        cursor.execute(sql)
        rows = cursor.fetchall()
        cols = [x[0].lower() for x in cursor.description]
        print(cols)
        df = pd.DataFrame(rows, columns = cols)
    #     for c in df.columns:
    #         if df[c].dtype == object:
    #             print(df[c])
    #             df[c] = df[c].astype("string")

    #     print(df)
        return df

In [ ]:
query = f"update {table} set ({cols}) VALUES ({ (',%s'*len(df.columns))[1:] })"

### python template을 이용하여 프로필을 만드는 스크립트
1. templatepptx
 https://pypi.org/project/templatepptx/#description
2. python-pptx-templater
https://github.com/kwlo/python-pptx-templater/tree/master
3. template_pptx_jinja
https://pypi.org/project/template-pptx-jinja/
4. pptx-template-simple
https://pypi.org/project/pptx-template-simple/

In [ ]:
'''아래 예시는 templatepptx 임'''

sql='select * from members.profiles'
df_pr = get_df(sql)
# df_pr
sql='select * from members.careers'
df_cr = get_df(sql)
sql='select * from members.projects'
df_pj = get_df(sql)

In [ ]:
# df_pr = df_pr.fillna('')

df_pr['birth_date']  = [ pd.to_datetime(x, format="%Y-%m-%d") for x in df_pr['birth_date']]
df_pr['graduate_date']  = [ pd.to_datetime(x, format="%Y-%m-%d") for x in df_pr['graduate_date']]
df_pr['age'] = df_pr.apply(lambda x: datetime.now().year - x['birth_date'].year, axis=1).fillna(0)
# context_dic = df_pr[df_pr['id']==19].to_dict(orient="records")[0]

In [ ]:
df_cr['start_date']  = [ pd.to_datetime(x, format="%Y-%m-%d") for x in df_cr['start_date']]
df_cr['end_date']  = [ pd.to_datetime(x, format="%Y-%m-%d") for x in df_cr['end_date']]

In [ ]:
df_cr['period'] = df_cr.apply(lambda x: x['start_date'].strftime("%y-%m")+'~'+x['end_date'].strftime("%y-%m"), axis=1)
df_cr['start_date']  = [ x.strftime('%Y-%m-%d')  for x in df_cr['start_date'] ]
df_cr['end_date']  = [ x.strftime('%Y-%m-%d')  for x in df_cr['end_date'] ]
bb = df_cr[df_cr['id']==19].to_dict(orient="records")
context_dic .update(dict({'relationship_name':bb}))

In [ ]:
df_sum = df_pr.groupby(['tech_grade','age','job_type','team'])['name'].count().reset_index().rename(columns={'name':'count'})
df_sum['age2'] = ((df_sum['age'] // 10) * 10)
df_sum.loc[df_sum['tech_grade']=='','tech_grade'] = 'N/A'
df_sum.loc[df_sum['team']=='','team'] = 'N/A'
df_sum['count'].sum()

In [ ]:
df_pj['cost'] / df_pj['sales']
# df[['sales','cost']]

In [ ]:
walker = pyg.walk(df_pj)

In [ ]:
df_pj[df_pj['project_name'].isin(['dddd','ddddddddddd'])]

In [ ]:
inp_df[~inp_df['id'].isin(['','0'])]

In [ ]:
import plotly.express as px

fig = px.pie(
        df_sum,
        values="count",
        names="tech_grade",
        color="tech_grade",
        title='aa'
    )
fig.update_traces(textposition='auto',textinfo='percent+value', textfont_size=12,textfont_color="black")
fig.show()

fig = px.pie(
        df_sum,
        values="count",
        names="job_type",
        color="job_type",
        title='bb'
    )
fig.update_traces(textposition='inside',textinfo='percent+value', textfont_size=12,textfont_color="black")
fig.show()

fig = px.pie(
        df_sum,
        values="count",
        names="age2",
        color="age2",
        title='cc'
    )
fig.update_traces(textposition='outside',textinfo='percent+value', textfont_size=12,textfont_color="black")

fig.show()

In [ ]:
fig = px.bar(
        df_sum.groupby(['team'])['count'].count().reset_index(),
        y="count",
        x="team",
        color='team',
        template = "seaborn",
        barmode='stack',
        text_auto=True,
        title='aa'
    )

fig.show()

In [ ]:
''' 템플릿 출력'''
''' 단점: 리스트인 경우 테이블목록 제목이 1행만 나와야되며, 출력파일의 폰트와 사이즈가 템플릿에서 지정된대로 안나옴'''
import templatepptx
input_pptx = "../docs/test1.pptx"
output_pptx = "../docs/output.pptx"
context = context_dic
# Read in PowerPoint and Context. Also assign what the special character is.
powerpoint = templatepptx.templatePptx(input_pptx, context, output_pptx, "$")

# Parses and exports the PowerPoint with filled out values and pictures
powerpoint.parse_template_pptx()

#### template부분 종료

In [ ]:
df_cc = df_cr.groupby('id').agg({'start_date':min,'end_date':max})
df_c = pd.merge(df.set_index('id'), df_cc[['start_date','end_date']], on='id', how='left').fillna('')
df_c['start_date'] = pd.to_datetime(df_c.start_date)
df_c['end_date'] = pd.to_datetime(df_c.end_date)
df_c['crs'] = df_c.apply(lambda x: diff_month(x['end_date'],x['start_date'],method='yearandmonth'),axis=1)
df_c

In [ ]:

def diff_month(d1, d2, method='months'):
    if d1 is None or d1 == null:
        return None
    if d2 is None:
        return None
    if method =='months':
        return (d1.year - d2.year) * 12 + d1.month - d2.month
    elif method == 'days':
        return (d1 -d2).days
    elif method == 'years':
        mm = (d1.year - d2.year) * 12 + d1.month - d2.month
        return int(mm / 12)
    elif method  == 'yearandmonth':
        mm = (d1.year - d2.year) * 12 + d1.month - d2.month
#         return 
        yr, mt = divmod(mm, 12)
        return f'{yr}년{mt}개월'
# df_c['cr'] = df_c.apply(lambda x: diff_month(x['end_date'],x['start_date'],method='yearandmonth'),axis=1)
# df_c['cr']
df_c

In [ ]:
from datetime import datetime
from datetime import date
# diff_month(df_c.end_date , df_c.start_date)
date_object = date(2021, 1, 1)
diff_month(date(2024,1,31), date(2021,1,2),'yearandmonth')

In [ ]:
dic = {}
import datetime

dt = datetime.datetime(2020,1,1)
dic['name'] = '이순신1'
dic['birth_date'] = '2020-1-1'
dic['gender'] = '남'
dic['education'] ='석사'
dic['school_name'] ='명랑'
dic['department_name']= '대찹'
dic['graduate_date'] = '1597-4-1'
dic['tech_grade']='특급'
dic['kosa'] = 'an'
print(type(dic))

In [ ]:
lst = [dic]
lst.append(dic)
print(len(lst))
[ tuple(x.values()) for x in lst]

In [ ]:
from psycopg2.extras import execute_batch

In [ ]:
certi_id = [22,22]
certi_name=['a','b']
certi_date=[1,2]
dic = {}
dic['id'] = certi_id
dic['certi_name'] = certi_name
dic['certi_date'] = certi_date
# dict(zip(certi_name,certi_date))
# list(zip(tuple(dic.values())))
li = list(zip(certi_id,certi_name,certi_date))

In [ ]:
conn = get_conn_postgres()
sql='select * from members.certificates '
df = get_df(sql)
df_ct = df

In [ ]:
# pd.merge(df_pr['id'],df_ct[['id','certi_name']], on='id', how='left')
# df_pr['id'].apply(lambda x: df_ct[df_ct['id']==x]['certi_name'])
[ for i in  df_pr['id']]

In [ ]:
def insert_to_table(schema, table, data, get_seq=None):
    print(data)
    cols = ','.join(list(data.keys()))
    vals = str(tuple(data.values()))
    if schema:
        sql = f"""insert into {schema}.{table} (  {cols}  ) values  {vals}"""
    else:
        sql = f"""insert into {table} (  {cols}  ) values  {vals}"""

    seq = 0
    if get_seq:
        seq_sql = f"""SELECT currval('{get_seq}')"""
        print(seq_sql)
        
    try:
        connection = get_conn_postgres()
        connection.autocommit = True

        with connection.cursor() as cursor:
            cursor.execute(sql)
#             cursor.execute("SELECT currval('members.profiles_id_seq')")
            if get_seq:
                cursor.execute(seq_sql)
                seq = cursor.fetchone()[0]
        
        connection.close()

    except Exception as ex:
        err, = ex.args
#         print('error code :', err.code)
        print('error message :', err.message)
        return False
   
    return seq

In [ ]:
schema = 'members'
table = 'profiles'
insert_to_table(schema, table, data = dic, get_seq='members.profiles_id_seq' )

In [ ]:
df = pd.read_excel('C:/Users/hkccloud01/Documents/이력서테스트1.xlsx')

In [ ]:
connection = get_conn_postgres()
df.to_sql(name='careers',schema='members',con=connection)

In [ ]:
# id컬럼을 맨 앞에 추가
df.insert(0,'id',19)
df.columns = ['id','project_name','start_date','end_date','customer','role','job','environment','tech_stack','company','etc']

In [ ]:
from sqlalchemy import create_engine

In [ ]:
import psycopg2
import pandas as pd

# conn = psycopg2.connect("dbname='{db}' user='{user}' host='{host}' port='{port}' password='{passwd}'".format(
#             user=pg_user,
#             passwd=pg_pass,
#             host=pg_host,
#             port=pg_port,
#             db=pg_db))

def insertIntoTable(df, table):
        """
        Using cursor.executemany() to insert the dataframe
        """
        # Create a list of tupples from the dataframe values
        tuples = list(set([tuple(x) for x in df.to_numpy()]))
        print(tuples)
        # Comma-separated dataframe columns
        cols = ','.join(list(df.columns))
        print(cols)
        # SQL query to execute
#         query = "INSERT INTO %s(%s) VALUES(%%s,%%s,%%s,%%s)" % (
#             table, cols)
        query = f"INSERT INTO {table} ({cols}) VALUES ({ (',%s'*len(df.columns))[1:] })" 
        print(query)
    
        try:
            conn = get_conn_postgres()
            with conn.cursor() as cur:    
                cur.executemany(query, tuples)
                conn.commit()
                conn.close()

        except (Exception, psycopg2.DatabaseError) as error:
            print("Error: %s" % error)
            conn.rollback()
            conn.close()
            return False

In [ ]:
df = pd.read_excel(f'C:/Users/hkccloud01/Documents/프로필.xlsx',header=1)
import numpy as np
df = df.fillna('')
dfc = df
dfc = dfc.drop(columns='etc')
dfc['kosa']=False
dfc['birth_date'] = dfc['birth_date'].apply(lambda x: None if str(x)=='NaN'  else str(x)[:10])
dfc['graduate_date'] = dfc['graduate_date'].apply(lambda x: None if str(x)=='NaN'  else str(x)[:10])
dfc.head(3)
insertIntoTable(dfc, 'members.profiles')

In [ ]:
df_cr = pd.read_excel(f'C:/Users/hkccloud01/Documents/프로필.xlsx',header=0, sheet_name='경력')
df_cr = df_cr.fillna('')
df_cr.columns=['id','name','project_name','customer','start_date','end_date','role','job','environment','tech_stack','company','etc']
df_cr = df_cr.fillna('').drop(columns='name')
df_cr['start_date'] = df_cr['start_date'].apply(lambda x: None if str(x)=='NaN'  else str(x)[:10])
df_cr['end_date'] = df_cr['end_date'].apply(lambda x: None if str(x)=='NaN'  else str(x)[:10])
dfc.head(3)
df_cr.head(3)
insertIntoTable(df_cr, 'members.careers')

In [ ]:
table = 'members.profiles'
u_key_cols = ['id','name']
u_key_vals = [25, '이순신1']

def update_table(df_u, table, u_key_cols, u_key_vals):
    temp = df_u.columns
    temp = list(filter(lambda x: x not in u_key_cols, temp))
    cols = ','.join(list(temp))
    vals = "'" + "','".join([str(t) for t in df_u[cols.split(',')].iloc[0]]) + "'" 

    query = f"update {table} SET ({cols}) = ({ vals })  " 
    where = 'where '
    for x,y in zip (u_key_cols,u_key_vals):
        where += f"{x} = '{y}'  and "
    query = query + where.rstrip(' and ')
    print(query)
    
#     try:
#         conn = get_conn_postgres()
#         with conn.cursor() as cursor:
#             cursor.execute(query)
#             conn.commit()
#             conn.close()
#     except (Exception, psycopg2.DatabaseError) as error:
#             print("Error: %s" % error)
#             conn.rollback()
#             conn.close()
#             return False
#     return True

def update_table3(row, table, u_key_cols, u_key_vals):
    temp = list(row.index)
    temp = list(filter(lambda x: x not in u_key_cols, temp))
    cols = ','.join(list(temp))
    vals = "'" + "','".join([str(t) for t in row[cols.split(',')]]) + "'" 

    query = f"update {table} SET ({cols}) = ({ vals })  " 
    where = 'where '
    for x,y in zip (u_key_cols,u_key_vals):
        where += f"{x} = '{y}'  and "
    query = query + where.rstrip(' and ')
    print(query)

def update_table2(df_u, table, u_key_cols):
    temp = df_u.columns
    temp = list(filter(lambda x: x not in u_key_cols, temp))
    cols = ','.join(list(temp))
    try:
        conn = get_conn_postgres()
        for i, row in df_u.iterrows():
            vals = "'" + "','".join([str(t) for t in row[cols.split(',')]]) + "'" 
            u_key_vals = list(row[u_key_cols])
        
            query = f"update {table} SET ({cols}) = ({ vals })  " 
            where = 'where '
            for x,y in zip (u_key_cols,u_key_vals):
                where += f"{x} = '{y}'  and "
            query = query + where.rstrip(' and ')
            print(query)
    
            with conn.cursor() as cursor:
                cursor.execute(query)
        conn.commit()
        conn.close()
    except (Exception, psycopg2.DatabaseError) as error:
            print("Error: %s" % error)
            conn.rollback()
            conn.close()
            return False
    return True

In [ ]:
df_u = df.loc[1:2]
df_u
# update_table2(df_u,"members.profiles",['id'])

In [ ]:
df_u['certi']=list("st.selectbox", "st.number_input", "st.text_area", "st.button")
# df_u['certi1']=dict({'자격증':'2022-02-01'})
df_u['certi']

In [ ]:
# engine = create_engine('postgresql+psycopg2://hkcloud:hkcloud1@localhost:5432/palette')
df_u[cols.split(',')].iloc[0]
# cols

In [ ]:
#original list
programming_languages = ["JavaScript", "Python", "Java", "C++"]

#print original list
print(programming_languages)

# remove the value 'JavaScript' from the list
programming_languages.remove("JavaScript")

#print updated list
print(programming_languages)

In [ ]:
with engine.connect() as connection:
        # Start an explicit control over transaction
        tran = connection.begin()
        df_u.to_sql("members.profiles", engine, if_exists="replace")
        tran.commit()

In [ ]:
list(set([tuple(x) for x in df.to_numpy()]))